apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-04-30T09:34:54Z"
  labels:
    app: {{ pod_label }}
  name: {{ pod_name }}
spec:
  volumes:
  ##
  # define exported volumes for permanent data
  #
  - hostPath:
      path: {{ guacamole_volume_host_home }}
      type: Directory
    name: guacamole_homedir
{% if guacamole_pg_hostname == "localhost" and guacamole_use_db | bool %}
  - hostPath:
      path: {{ guacamole_volume_host_db }}
      type: Directory
    name: guacamole_dbdir
{% endif %}
  containers:
{% if guacamole_pg_hostname == "localhost" and guacamole_use_db | bool %}
  ##
  # postgres container
  #
  - command:
    - run-postgresql
    env:
    - name: POSTGRESQL_USER
      value: {{ guacamole_pg_username }}
    - name: POSTGRESQL_DATABASE
      value: {{ guacamole_pg_database }}
    - name: PGDATA
      value: {{ guacamole_pg_data }}
    - name: POSTGRESQL_PASSWORD
      value: {{ guacamole_pg_password }}
{% if guacamole_postgres_update %}
    - name: POSTGRESQL_UPGRADE
      value: copy
{% endif %}
    - name: APP_DATA
      value: /opt/app-root
    - name: APP_ROOT
      value: /opt/app-root
    - name: CONTAINER_SCRIPTS_PATH
      value: /usr/share/container-scripts/postgresql
    image: {{ guacamole_postgres_image }}
    name: db
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsGroup: 26
      runAsUser: 26
      seLinuxOptions: {}
    volumeMounts:
    - mountPath: {{ guacamole_pg_data }}:z
      name: guacamole_dbdir
{% endif %}
  ##
  # guacamole guacd
  #
  - env:
    - name: GUACD_LOG_LEVEL
      value: info
    image: {{ guacamole_guacd_image }}
    name: guacd
    ports:
    - containerPort: 8080
      hostPort: {{ guacamole_host_port }}
      protocol: TCP
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    workingDir: /
  ##
  # guacamole web
  #
  - command:
    - /opt/guacamole/bin/start.sh
    env:
{% if guacamole_use_ldap | bool %}
    - name: LDAP_GROUP_BASE_DN
      value: {{ ldap_group_base_dn }}
    - name: LDAP_CONFIG_BASE_DN
      value: {{ ldap_config_base_dn }}
{% endif %}
{% if guacamole_use_ldap | bool %}
    - name: LDAP_ENCRYPTION_METHOD
      value: {{ ldap_encryption_method }}
    - name: LDAP_USER_BASE_DN
      value: {{ ldap_user_base_dn }}
{% endif %}
    - name: GUACD_HOSTNAME
      value: localhost
{% if guacamole_use_ldap | bool %}
    - name: LDAP_HOSTNAME
      value: {{ ldap_hostname }}
    - name: LDAP_PORT
      value: {{ ldap_port }}
{% endif %}
{% if guacamole_use_db | bool %}
    - name: POSTGRES_HOSTNAME
      value: {{ guacamole_pg_hostname }}
    - name: POSTGRES_PORT
      value: {{ guacamole_pg_port }}
    - name: POSTGRES_DATABASE
      value: {{ guacamole_pg_database }}
    - name: POSTGRES_USER
      value: {{ guacamole_pg_username }}
    - name: POSTGRES_PASSWORD
      value: {{ guacamole_pg_password }}
{% endif %}
    - name: GUACAMOLE_HOME
      value: /guacamolehome
    image: {{ guacamole_web_image }}
    name: web
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
      - mountPath: /guacamolehome
        name: guacamole_homedir
        readOnly: true
{% if guacamole_pg_hostname == "localhost" and guacamole_use_db | bool %}
      - mountPath: {{ guacamole_pg_data }}:z
        name: guacamole_dbdir
{% endif %}
    workingDir: /opt/guacamole
status: {}

