apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-04-30T09:34:54Z"
  labels:
    app: {{ pod_label }}
  name: {{ pod_name }}
spec:
  volumes:
  ##
  # define exported volumes for permanent data
  #
  - hostPath:
      path: {{ guacamole_volume_host_path }}
      type: Directory
    name: guacamole_homedir
  containers:
  ##
  # guacamole guacd
  #
  - command:
    - /bin/sh
    - -c
    - /usr/local/guacamole/sbin/guacd -b 0.0.0.0 -L $GUACD_LOG_LEVEL -f
    env:
    - name: PATH
      value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    - name: TERM
      value: xterm
    - name: HOSTNAME
      value: guacamole
    - name: container
      value: podman
    - name: LC_ALL
      value: C.UTF-8
    - name: LD_LIBRARY_PATH
      value: /usr/local/guacamole/lib
    - name: GUACD_LOG_LEVEL
      value: info
    image: {{ guacamole_guacd_image }}
    name: {{ guacamole_guacd_name }}
    ports:
    - containerPort: 8080
      hostPort: {{ guacamole_host_port }}
      protocol: TCP
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    workingDir: /
  ##
  # guacamole web
  #
  - command:
    - /opt/guacamole/bin/start.sh
    env:
    - name: PATH
      value: /usr/local/tomcat/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    - name: TERM
      value: xterm
    - name: HOSTNAME
      value: guacamole
    - name: container
      value: podman
    - name: OPENSSL_VERSION
      value: 1.1.0j-1~deb9u1
    - name: TOMCAT_MAJOR
      value: "8"
    - name: TOMCAT_VERSION
      value: 8.5.41
    - name: TOMCAT_NATIVE_LIBDIR
      value: /usr/local/tomcat/native-jni-lib
    - name: CATALINA_HOME
      value: /usr/local/tomcat
    - name: GPG_KEYS
      value: 05AB33110949707C93A279E3D3EFE6B686867BA6 07E48665A34DCAFAE522E5E6266191C37C037D42
        47309207D818FFD8DCD3F83F1931D684307A10A5 541FBE7D8F78B25E055DDEE13C370389288584E7
        61B832AC2F1C5A90F0F9B00A1C506407564C17A3 713DA88BE50911535FE716F5208B0AB1D63011C7
        79F7026C690BAA50B92CD8B66A3AD3F4F22C4FED 9BA44C2621385CB966EBA586F72C284D731FABEE
        A27677289986DB50844682F8ACB77FC2E86E29AC A9C5DF4D22E99998D9875A5110C01C5A2F6059E7
        DCFD35E0BF8CA7344752DE8B6FB21E8933C60243 F3A04C595DB5B6A5F1ECA43E3B7BBB100D811BBE
        F7DA48BB64BCB84ECBA7EE6935CD23C10D498E23
    - name: LDAP_GROUP_BASE_DN
      value: {{ ldap_group_base_dn }}
    - name: LDAP_CONFIG_BASE_DN
      value: {{ ldap_config_base_dn }}
    - name: JAVA_HOME
      value: /docker-java-home/jre
    - name: JAVA_VERSION
      value: 8u212
    - name: JAVA_DEBIAN_VERSION
      value: 8u212-b01-1~deb9u1
    - name: TOMCAT_SHA512
      value: 16c86acb5ef635cdb260609e6d3630b87f963c9f71c35d97a0b413669509cb7258931f9d9f8d90f18665d936b491e4ea84ea8f4d71b336a208f353a268f70964
    - name: TOMCAT_ASC_URLS
      value: "https://www.apache.org/dyn/closer.cgi?action=download&filename=tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz.asc
        \thttps://www-us.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz.asc
        \thttps://www.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz.asc
        \thttps://archive.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz.asc"
    - name: LDAP_ENCRYPTION_METHOD
      value: {{ ldap_encryption_method }}
    - name: LDAP_USER_BASE_DN
      value: {{ ldap_user_base_dn }}
    - name: LANG
      value: C.UTF-8
    - name: GUACD_HOSTNAME
      value: localhost
    - name: LDAP_HOSTNAME
      value: {{ ldap_hostname }}
    - name: LDAP_PORT
      value: {{ ldap_port }}
    - name: GUACAMOLE_HOME
      value: /guacamolehome
    - name: LD_LIBRARY_PATH
      value: /usr/local/tomcat/native-jni-lib
    - name: TOMCAT_TGZ_URLS
      value: "https://www.apache.org/dyn/closer.cgi?action=download&filename=tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz
        \thttps://www-us.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz
        \thttps://www.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz
        \thttps://archive.apache.org/dist/tomcat/tomcat-8/v8.5.41/bin/apache-tomcat-8.5.41.tar.gz"
    image: {{ guacamole_web_image }}
    name: {{ guacamole_web_name }}
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
      - mountPath: /guacamolehome
        name: guacamole_homedir
        readOnly: true
    workingDir: /opt/guacamole
status: {}

